{% extends "base.html.twig" %}

{% block body %}
    <table>
        <tr>
            <th>Nom auteur</th>
            <th>Description</th>
            <th>Livres</th>
        </tr>
        <tr>
                <td>{{ author.name}}</td>
                <td>{{ author.description}}</td>
                {% for book in books %}
                    <td>{{ book.title}}</td>
                {% endfor %}
        </tr>
    </table>
{% endblock %}